

<div style="padding: 0; margin: 0;" ng-if="!souqLang || souqLang == 'en'">


  <!-- COVER -->
  <div style="position: relative;" class="cover">
    <div class="half">
    <!-- NAV -->
  
     <!-- CAPTION -->
     <div class="container pt-5">
      <div class="row pt-5">
        <div class="col-md-6 col-xs-12 col-sm-12 pt-5">
          <h2 class="pt-5" style="color: #fff; line-height: 1.5; font-weight: bolder;">
            Show your app In the largest application market
          </h2>
          <h2 style="color: #fff; font-size: 24px;">
            The first and largest auction to sell applications in the Kingdom
          </h2>
        </div>
      </div>
    </div>
    </div>

  </div>

  <!-- DIVIDER -->
  <div style="background-color: #F67534; height: 50px;">

  </div>

  <!-- ABOUT -->
  <div class="about">
    <div class="row p-5">
      <h3 class="text-center m-auto " style="color: #F67534; font-weight: bold;">about souq apps</h3>
    </div>
    <div class="container">
      <div class="row p-5">
        <div class="col-md-9 col-x-12 col-sm-12">
          <p style="font-size: 1.5rem;" class="px-5">
              <span class="d-block" style="font-weight: bold;">
                  Applications market
              </span>
              It is the first and largest application viewing platform and sold at auction
              There are general conditions of application in case of a violation
              Can the user see your application?
          </p>
        </div>
        <div class="col-md-3 col-x-12 col-sm-12 text-center">
          <img style="width: 250px; height: 250px;"  src="http://157.230.25.241/SouqWebsite/images/logo-01.png" alt="" />

        </div>
      </div>
    </div>
  </div>

  <!-- HOW IT WORK -->
  <div  class="howitwork">
    <div class="howitwork-overlay">
        <div class="row p-5">
            <h3 class="text-center m-auto " style="color: #fff; font-weight: bold;">How the App Market Works
            </h3>
          </div>
          <div class="container">
              <div class="row px-top p-5">
                <div class="col-md-8 col-x-12 col-sm-12">
                  <div class="px-5 ">
                      <video  id="video_index" poster="http://157.230.25.241/SouqWebsite/images/Image -1@2x.png" style="width: 100%;" controls>
                          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                          <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
                        Your browser does not support the video tag.
                        </video>
                  </div>
                </div>
                <div class="col-md-4 col-x-12 col-sm-12 text-left">
                    <p style="font-size: 1.2rem; " class="pt-4 colors-white">
                        Display your app in the first private auction
                        Selling applications
                    </p>  
                    <p  style="font-size: 1.2rem; " class="pt-4 colors-white">
                        Is the first and largest platform to view applications and sell them in an auction and certified, can any
                    </p>      
                </div>
              </div>
            </div>
    </div>
    
  </div>
</div>
 






<div style="padding: 0; margin: 0;" ng-if="!souqLang || souqLang == 'en'">
   <!-- RECENTAPPS -->
 <!-- <div style="min-height: 700px; direction: ltr !important; position: relative;" class="recentapps py-5 colors-main-bg pb-5">
  <style>
    section {
      width: 35em;
      height: 25em;
      margin: 0 auto;
      position: relative;
    }
    
    section li {
      width:400px;
      height:500px;
      background: #fff;
      display: inline-block;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out;
      overflow: hidden;
      padding: 0 !important;
      margin: 30px;
      overflow: hidden;
      
      -webkit-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.45);
      -moz-box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.45);
      box-shadow: 5px 5px 6px 0px rgba(0,0,0,0.45);
  
  
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: .25rem;
      
  }
  
  section li .card{
      
  }
  section li p {
    color: white;
    font-weight: bold;
    font-size: 5em;
    text-align: center;
    margin-top: 1.175em;
  }
  
  section .items {
    position: absolute;
  }
  
    .main-pos {
    margin-left: 2em !important;
    z-index: 3000;
  }
  
  .left-pos {
    opacity: 1;
    margin-left: -30em !important;
    z-index: 1000;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
  }
  
  .back-pos {
    margin-left: 2em !important;
    opacity: 0;
    -webkit-transform: scale(.5);
    -moz-transform: scale(.5);
    transform: scale(.5);
  }
  
  .right-pos {
    opacity: 1;
    margin-left:  30em !important;
    z-index: 1000;
    -webkit-transform: scale(.75);
    -moz-transform: scale(.75);
    transform: scale(.75);
  }
  
  section span {
    position: relative;
    margin: 0 auto;
    left: 17em;
    top: 20em;
  }
    </style>
     <div class="row ">
      <h3 ng-if=" !souqLang || souqLang == 'en'"  class="text-center m-auto " style="color: #fff; font-weight: bold;">
        Recent Apps
      </h3>
      <h3 ng-if="souqLang == 'ar'" class="text-center m-auto fontar" style="color: #fff; font-weight: bold;">
        أحدث التطبيقات
      </h3>
      
      
    </div>
    <div class="row ">
     
      <p ng-if=" !souqLang || souqLang == 'en'" class="text-center m-auto p-1" style="color: #fff; ">
        The first and largest auction to sell applications in the Kingdom
      </p>
      <p ng-if="souqLang == 'ar'" class="text-center m-auto p-1 fontar" style="color: #fff; ">
        مجموعة من أحدث التطبيقات المتاحة في مزاد سوق التطبيقات

      </p>
    </div>
    <section style="direction: ltr !important; padding-bottom: 20px;">
        <ul class="carousel">
          <li class="items main-pos " id="1">
            <div style="height: 500px !important" class="card defaultShadow m-auto " >
                <div style="height: 300px; overflow: hidden; position: relative;">
                    <img style="height: 300px;" style="cursor: pointer;"  src="{{recentApps[0].img1}}" class="card-img-top" alt="car">

                  </div>

                <div class="card-body pt-0">
                  <div class="pb-4"  style="position: relative;">
                          <a  style="text-transform: uppercase; width: 90%; top: -20px; position: absolute; border-radius: 0; background-color: #32657B; text-align: center; border-radius: 10px; border: 1px solid #32657B; color: #fff; left: 5%; font-weight: 900; font-weight: bolder;"  href="#" class="btn btn-primary px-4 py-2 ml-auto">
                            {{recentApps[0].appName}}
                          </a>

                  </div>
                  <h6 style="font-size: 0.8rem;" class="card-title pl-5 mb-0 mt-2">auction ends</h6>
                  <div class="clearfix"></div>
                  <div class="d-block w-50 float-left" style="position: relative;">
                      <div class="my-1" style="position: relative;">
                              <div class="text-center" style="width: 35px; height: 35px; background-color: #F67534; border-radius: 50%; ">
                                      <img class="mt-1" src="http://157.230.25.241/SouqWebsite/images/calendar.png" alt="">
                                      
                              </div>
                              <span class=" py-2" style="position: absolute; left: 50px; top: 0px; font-size: 0.8rem; border: 0.5px solid #ddd; border-radius: 5px;width: 60%; margin: auto; text-align: center;">
                                {{recentApps[0].endDate | cmdate:'yyyy-MM-dd' || 'No date' }}
                              </span>
                      </div>
                      <div style="position: relative;">
                              <div class="text-center" style="width: 35px; height: 35px; background-color: #F67534; border-radius: 50%; ">
                                      <img class="mt-1" src="http://157.230.25.241/SouqWebsite/images/clock.png" alt="">
                                      
                              </div>
                              <span class=" py-2" style="position: absolute; left: 50px; top: 0px; font-size: 0.8rem; border: 0.5px solid #ddd; border-radius: 5px;width: 60%; margin: auto; text-align: center;">
                                <za ng-if="recentApps[0].endH > 12">
                                  {{recentApps[0].endH - 12}}:00 PM
                                </za>
                                <za style="color: #000 !important;" ng-if="(recentApps[0].endH <  12)">
                                  {{recentApps[0].endH}}:00 AM
                                </za>
                                <za style="color: #000 !important;" ng-if="(recentApps[0].endH ==  12)">
                                  00:00 AM
                                </za>
                              </span>
                      </div>
                  </div> 
                  <div class="d-block w-50 float-right text-center " style="position: relative;">
                          <a style="width: 90%; margin: -20px; margin-bottom: -40px; border-radius: 0; background-color: #F67534; text-align: center; border-radius: 10px; cursor: none; font-weight: bolder;" disabled  class="btn btn-primary px-4 py-2 ml-auto colors-white">highest price</a>
                          <a style="width: 90%; margin: -20px;  margin-bottom: -80px; border-radius: 0; background-color: #fff; text-align: center; border-radius: 10px; cursor: none; border: 1px solid #F67534; color: #F67534; font-weight: bolder;" disabled  class="btn btn-primary px-4 py-2 ml-auto">
                            {{recentApps[0].highestPrice || 0 }} SAR
     
                          </a>

                      </div>
                  <div class="clearfix"></div>
                  <div class="p-2">

                  </div>
                      
                </div>
            </div>
          </li>
          <li class="items right-pos" id="2">
            <div style="height: 500px !important" class="card defaultShadow m-auto " >
                <div style="height: 300px; overflow: hidden; position: relative;">
                    <img style="height: 300px;" style="cursor: pointer;"  src="{{recentApps[1].img1}}" class="card-img-top" alt="car">

                  </div>

                <div class="card-body pt-0">
                  <div class="pb-4"  style="position: relative;">
                          <a  style="text-transform: uppercase; width: 90%; top: -20px; position: absolute; border-radius: 0; background-color: #32657B; text-align: center; border-radius: 10px; border: 1px solid #32657B; color: #fff; left: 5%; font-weight: 900; font-weight: bolder;"  href="#" class="btn btn-primary px-4 py-2 ml-auto">
                            {{recentApps[1].appName}}
                          </a>

                  </div>
                  <h6 style="font-size: 0.8rem;" class="card-title pl-5 mb-0 mt-2">auction ends</h6>
                  <div class="clearfix"></div>
                  <div class="d-block w-50 float-left" style="position: relative;">
                      <div class="my-1" style="position: relative;">
                              <div class="text-center" style="width: 35px; height: 35px; background-color: #F67534; border-radius: 50%; ">
                                      <img class="mt-1" src="http://157.230.25.241/SouqWebsite/images/calendar.png" alt="">
                                      
                              </div>
                              <span class=" py-2" style="position: absolute; left: 50px; top: 0px; font-size: 0.8rem; border: 0.5px solid #ddd; border-radius: 5px;width: 60%; margin: auto; text-align: center;">
                                {{recentApps[1].endDate | cmdate:'yyyy-MM-dd' || 'No date' }}
                              </span>
                      </div>
                      <div style="position: relative;">
                              <div class="text-center" style="width: 35px; height: 35px; background-color: #F67534; border-radius: 50%; ">
                                      <img class="mt-1" src="http://157.230.25.241/SouqWebsite/images/clock.png" alt="">
                                      
                              </div>
                              <span class=" py-2" style="position: absolute; left: 50px; top: 0px; font-size: 0.8rem; border: 0.5px solid #ddd; border-radius: 5px;width: 60%; margin: auto; text-align: center;">
                                <za ng-if="recentApps[1].endH > 12">
                                  {{recentApps[1].endH - 12}}:00 PM
                                </za>
                                <za style="color: #000 !important;" ng-if="(recentApps[1].endH <  12)">
                                  {{recentApps[1].endH}}:00 AM
                                </za>
                                <za style="color: #000 !important;" ng-if="(recentApps[1].endH ==  12)">
                                  00:00 AM
                                </za>
                              </span>
                      </div>
                  </div> 
                  <div class="d-block w-50 float-right text-center " style="position: relative;">
                          <a style="width: 90%; margin: -20px; margin-bottom: -40px; border-radius: 0; background-color: #F67534; text-align: center; border-radius: 10px; cursor: none; font-weight: bolder;" disabled  class="btn btn-primary px-4 py-2 ml-auto colors-white">highest price</a>
                         
                          <a style="width: 90%; margin: -20px;  margin-bottom: -80px; border-radius: 0; background-color: #fff; text-align: center; border-radius: 10px; cursor: none; border: 1px solid #F67534; color: #F67534; font-weight: bolder;" disabled  class="btn btn-primary px-4 py-2 ml-auto">
                            {{recentApps[1].highestPrice || 0 }} SAR
     
                          </a>

                      </div>
                  <div class="clearfix"></div>
                  <div class="p-2">

                  </div>
                      
                </div>
            </div>
          </li>
          <li class="items back-pos" id="3">
            <div style="height: 500px !important" class="card defaultShadow m-auto " >
                <div style="height: 300px; overflow: hidden; position: relative;">
                    <img style="height: 300px;" style="cursor: pointer;"  src="{{recentApps[2].img1}}" class="card-img-top" alt="car">

                  </div>

                <div class="card-body pt-0">
                  <div class="pb-4"  style="position: relative;">
                    <a  style="text-transform: uppercase; width: 90%; top: -20px; position: absolute; border-radius: 0; background-color: #32657B; text-align: center; border-radius: 10px; border: 1px solid #32657B; color: #fff; left: 5%; font-weight: 900; font-weight: bolder;"  href="#" class="btn btn-primary px-4 py-2 ml-auto">
                      {{recentApps[2].appName}}
                    </a>
                  </div>
                  <h6 style="font-size: 0.8rem;" class="card-title pl-5 mb-0 mt-2">auction ends</h6>
                  <div class="clearfix"></div>
                  <div class="d-block w-50 float-left" style="position: relative;">
                      <div class="my-1" style="position: relative;">
                              <div class="text-center" style="width: 35px; height: 35px; background-color: #F67534; border-radius: 50%; ">
                                      <img class="mt-1" src="http://157.230.25.241/SouqWebsite/images/calendar.png" alt="">
                                      
                              </div>
                              <span class=" py-2" style="position: absolute; left: 50px; top: 0px; font-size: 0.8rem; border: 0.5px solid #ddd; border-radius: 5px;width: 60%; margin: auto; text-align: center;">
                                {{recentApps[2].endDate | cmdate:'yyyy-MM-dd' || 'No date' }}
                              </span>
                      </div>
                      <div style="position: relative;">
                              <div class="text-center" style="width: 35px; height: 35px; background-color: #F67534; border-radius: 50%; ">
                                      <img class="mt-1" src="http://157.230.25.241/SouqWebsite/images/clock.png" alt="">
                                      
                              </div>
                              <span class=" py-2" style="position: absolute; left: 50px; top: 0px; font-size: 0.8rem; border: 0.5px solid #ddd; border-radius: 5px;width: 60%; margin: auto; text-align: center;">
                                <za ng-if="recentApps[2].endH > 12">
                                  {{recentApps[2].endH - 12}}:00 PM
                                </za>
                                <za style="color: #000 !important;" ng-if="(recentApps[2].endH <  12)">
                                  {{recentApps[2].endH}}:00 AM
                                </za>
                                <za style="color: #000 !important;" ng-if="(recentApps[2].endH ==  12)">
                                  00:00 AM
                                </za>
                              </span>
                      </div>
                  </div> 
                  <div class="d-block w-50 float-right text-center " style="position: relative;">
                          <a style="width: 90%; margin: -20px; margin-bottom: -40px; border-radius: 0; background-color: #F67534; text-align: center; border-radius: 10px; cursor: none; font-weight: bolder;" disabled  class="btn btn-primary px-4 py-2 ml-auto colors-white">highest price</a>
                          <a style="width: 90%; margin: -20px;  margin-bottom: -80px; border-radius: 0; background-color: #fff; text-align: center; border-radius: 10px; cursor: none; border: 1px solid #F67534; color: #F67534; font-weight: bolder;" disabled  class="btn btn-primary px-4 py-2 ml-auto">
                            {{recentApps[2].highestPrice || 0 }} SAR
     
                          </a>

                      </div>
                  <div class="clearfix"></div>
                  <div class="p-2">

                  </div>
                      
                </div>
            </div>
          </li>
          <li class="items back-pos" id="4">
            <div style="height: 500px !important" class="card defaultShadow m-auto " >
                <div style="height: 300px; overflow: hidden; position: relative;">
                    <img style="height: 300px;" style="cursor: pointer;"  src="{{recentApps[3].img1}}" class="card-img-top" alt="car">

                  </div>

                <div class="card-body pt-0">
                  <div class="pb-4"  style="position: relative;">
                    <a  style="text-transform: uppercase; width: 90%; top: -20px; position: absolute; border-radius: 0; background-color: #32657B; text-align: center; border-radius: 10px; border: 1px solid #32657B; color: #fff; left: 5%; font-weight: 900; font-weight: bolder;"  href="#" class="btn btn-primary px-4 py-2 ml-auto">
                      {{recentApps[3].appName}}
                    </a>
                  </div>
                  <h6 style="font-size: 0.8rem;" class="card-title pl-5 mb-0 mt-2">auction ends</h6>
                  <div class="clearfix"></div>
                  <div class="d-block w-50 float-left" style="position: relative;">
                      <div class="my-1" style="position: relative;">
                              <div class="text-center" style="width: 35px; height: 35px; background-color: #F67534; border-radius: 50%; ">
                                      <img class="mt-1" src="http://157.230.25.241/SouqWebsite/images/calendar.png" alt="">
                                      
                              </div>
                              <span class=" py-2" style="position: absolute; left: 50px; top: 0px; font-size: 0.8rem; border: 0.5px solid #ddd; border-radius: 5px;width: 60%; margin: auto; text-align: center;">
                                {{recentApps[3].endDate | cmdate:'yyyy-MM-dd' || 'No date' }}
                              </span>
                      </div>
                      <div style="position: relative;">
                              <div class="text-center" style="width: 35px; height: 35px; background-color: #F67534; border-radius: 50%; ">
                                      <img class="mt-1" src="http://157.230.25.241/SouqWebsite/images/clock.png" alt="">
                                      
                              </div>
                              <span class=" py-2" style="position: absolute; left: 50px; top: 0px; font-size: 0.8rem; border: 0.5px solid #ddd; border-radius: 5px;width: 60%; margin: auto; text-align: center;">
                                <za ng-if="recentApps[3].endH > 12">
                                  {{recentApps[3].endH - 12}}:00 PM
                                </za>
                                <za style="color: #000 !important;" ng-if="(recentApps[3].endH <  12)">
                                  {{recentApps[3].endH}}:00 AM
                                </za>
                                <za style="color: #000 !important;" ng-if="(recentApps[3].endH ==  12)">
                                  00:00 AM
                                </za>
                              </span>
                      </div>
                  </div> 
                  <div class="d-block w-50 float-right text-center " style="position: relative;">
                          <a style="width: 90%; margin: -20px; margin-bottom: -40px; border-radius: 0; background-color: #F67534; text-align: center; border-radius: 10px; cursor: none; font-weight: bolder;" disabled  class="btn btn-primary px-4 py-2 ml-auto colors-white">highest price</a>
                          <a style="width: 90%; margin: -20px;  margin-bottom: -80px; border-radius: 0; background-color: #fff; text-align: center; border-radius: 10px; cursor: none; border: 1px solid #F67534; color: #F67534; font-weight: bolder;" disabled  class="btn btn-primary px-4 py-2 ml-auto">
                            {{recentApps[3].highestPrice || 0 }} SAR
     
                          </a>

                      </div>
                  <div class="clearfix"></div>
                  <div class="p-2">

                  </div>
                      
                </div>
            </div>
          </li>
          <li class="items left-pos" id="5">
            <div style="height: 500px !important" class="card defaultShadow m-auto " >
                <div style="height: 300px; overflow: hidden; position: relative;">
                    <img style="height: 300px;" style="cursor: pointer;"  src="{{recentApps[4].img1}}" class="card-img-top" alt="car">

                  </div>

                <div class="card-body pt-0">
                  <div class="pb-4"  style="position: relative;">
                    <a  style="text-transform: uppercase; width: 90%; top: -20px; position: absolute; border-radius: 0; background-color: #32657B; text-align: center; border-radius: 10px; border: 1px solid #32657B; color: #fff; left: 5%; font-weight: 900; font-weight: bolder;"  href="#" class="btn btn-primary px-4 py-2 ml-auto">
                      {{recentApps[4].appName}}
                    </a>
                  </div>
                  <h6 style="font-size: 0.8rem;" class="card-title pl-5 mb-0 mt-2">auction ends</h6>
                  <div class="clearfix"></div>
                  <div class="d-block w-50 float-left" style="position: relative;">
                      <div class="my-1" style="position: relative;">
                              <div class="text-center" style="width: 35px; height: 35px; background-color: #F67534; border-radius: 50%; ">
                                      <img class="mt-1" src="http://157.230.25.241/SouqWebsite/images/calendar.png" alt="">
                                      
                              </div>
                              <span class=" py-2" style="position: absolute; left: 50px; top: 0px; font-size: 0.8rem; border: 0.5px solid #ddd; border-radius: 5px;width: 60%; margin: auto; text-align: center;">
                                {{recentApps[4].endDate | cmdate:'yyyy-MM-dd' || 'No date' }}
                              </span>
                      </div>
                      <div style="position: relative;">
                              <div class="text-center" style="width: 35px; height: 35px; background-color: #F67534; border-radius: 50%; ">
                                      <img class="mt-1" src="http://157.230.25.241/SouqWebsite/images/clock.png" alt="">
                                      
                              </div>
                              <span class=" py-2" style="position: absolute; left: 50px; top: 0px; font-size: 0.8rem; border: 0.5px solid #ddd; border-radius: 5px;width: 60%; margin: auto; text-align: center;">
                                <za ng-if="recentApps[4].endH > 12">
                                  {{recentApps[4].endH - 12}}:00 PM
                                </za>
                                <za style="color: #000 !important;" ng-if="(recentApps[4].endH <  12)">
                                  {{recentApps[4].endH}}:00 AM
                                </za>
                                <za style="color: #000 !important;" ng-if="(recentApps[4].endH ==  12)">
                                  00:00 AM
                                </za>
                              </span>
                      </div>
                  </div> 
                  <div class="d-block w-50 float-right text-center " style="position: relative;">
                          <a style="width: 90%; margin: -20px; margin-bottom: -40px; border-radius: 0; background-color: #F67534; text-align: center; border-radius: 10px; cursor: none; font-weight: bolder;" disabled  class="btn btn-primary px-4 py-2 ml-auto colors-white">highest price</a>
                          <a style="width: 90%; margin: -20px;  margin-bottom: -80px; border-radius: 0; background-color: #fff; text-align: center; border-radius: 10px; cursor: none; border: 1px solid #F67534; color: #F67534; font-weight: bolder;" disabled  class="btn btn-primary px-4 py-2 ml-auto">
                            {{recentApps[4].highestPrice || 0 }} SAR
     
                          </a>

                      </div>
                  <div class="clearfix"></div>
                  <div class="p-2">

                  </div>
                      
                </div>
            </div>
          </li>
        </ul>
      <span>
        <input type="button" value="Prev" id="prev">
        <input type="button" value="Next" id="next">
      </span>
      
    </section>
    <div style="padding: 100px;">

    </div>
    <ol style="margin-top: 50px;" class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" ></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"  class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
  </ol>
</div> -->
  <!-- DOWNLOADAPPS -->
  <div  class="downloadapp">
    <div class="downloadapp-overlay py-5">
      <div class="container pb-5">
        <div class="row pb-5">
          <div class="col-md-6 col-xs-12 pt-5">
            <div class="row pt-5 px-4">
              <h3 class="text-center m-auto " style="color: #fff; font-weight: bold;">Download  App Market app</h3>
            </div>
            <div class="row pb-5 px-4">
              <p style="font-size: 1.2rem; " class="pt-4 colors-white text-center">
                Now you can download the application on your mobile
  Download the application now service easier and faster
            </p>  
            </div>

            <div class="row px-4">
              <div class="col-md-6 col-sm-6 col-xs-6 pb-1">
                  <img class="img-fluid" src="http://157.230.25.241/SouqWebsite/images/appstore.png" alt="">
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 pb-1">
                <img class="img-fluid" src="http://157.230.25.241/SouqWebsite/images/playstore.png" alt="">

              </div>
            </div>
          </div>
          
        </div>
        <div class="pb-5"> 
          
        </div>
      </div>
    </div>
  </div>

 
</div>



<div style="padding: 0; margin: 0;" ng-if="souqLang == 'ar'">

  <!-- COVER -->
  <div style="position: relative;" class="cover2">
    <div class="half2">
    
    <!-- CAPTION -->
    <!-- CAPTION -->
    <div class="container pt-5">
      <div class="row pt-5 pr-5">
        <div class="col-md-6 col-xs-12 col-sm-12 text-right pr-3  pl-2 pt-5">
          <h2 class="pt-5 fontar" style="color: #fff; line-height: 1.5; font-weight: bolder;">
             أعرض تطبيقك  <br>
              في أكبر سوق خاص بالتطبيقات
          </h2>
          <h2 class=" text-right fontar" style="color: #fff; word-spacing: 4px; font-size: 28px; font-family: 'Katibeh', cursive;">
              أول وأكبر مزاد لبيع التطبيقات في المملكة

          </h2>
        </div>
      </div>
    </div>
    </div>
  
  </div>
  
  <!-- DIVIDER -->
  <div style="background-color: #F67534; height: 50px;">
  
  </div>

  <!-- ABOUT -->
  <div class="about">
    <div class="row p-5">
      <h3 class="text-center m-auto  fontar" style="color: #F67534; font-weight: bold;">عن سوق التطبيقات</h3>
    </div>
    <div class="container">
      <div class="row p-5">
        <div class="col-md-9 col-x-12 col-sm-12 text-right">
          <p style="font-size: 1.5rem; " class="px-5 fontar">
              <span class="d-block " style="font-weight: bold;">
                  سوق التطبيقات

              </span>
              هو أول وأكبر منصة لعرض التطبيقات و بيعها في مزاد علني ومعتمد, يمكن اي مستخدم لديه افكار او تطبيقات تقديمها للادراة وتستطيع الادارة نشرها او لامكن ان يكون المزاد علي التطبيق كامل او نسبة بالمئة منه حسب شروط كل تطبيق
              يوجد شروط عامة لاستخدام التطبيق في حال مخالفتها من جانب المستخدم يحق للادارة ايقاف حساب المستخدم كليا او لمدة معينة حسب ما تراه الإدارة
             يستطيع المستخدم رؤية التطبيق ووصفه وروابط تحميله وسعر فتح المزاد واعلي سعر, يمكن المستخدم التقدم بالمزاد اذا توفرت لديه شروط المزاد ووضع سعر
          </p>
        </div>
        <div class="col-md-3 col-x-12 col-sm-12 text-center">
          <img style="width: 250px; height: 250px;"  src="http://157.230.25.241/SouqWebsite/images/logo-01.png" alt="" />
  
        </div>
      </div>
    </div>
  </div>

  <!-- HOW IT WORK -->
  <div  class="howitwork">
    <div class="howitwork-overlay">
        <div class="row p-5">
            <h3 class="text-center m-auto " style="color: #fff; font-weight: bold;">كيف يعمل سوق التطبيقات
            </h3>
          </div>
          <div class="container">
              <div class="row px-top p-5">
                <div class="col-md-8 col-x-12 col-sm-12">
                    <div class="px-5 ">
                      <video  id="video_index" poster="http://157.230.25.241/SouqWebsite/images/Image -1@2x.png" style="width: 100%;" controls>
                          <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
                          <source src="https://www.w3schools.com/html/mov_bbb.ogg" type="video/ogg">
                        Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="col-md-4 col-x-12 col-sm-12 text-rights">
                    <p style="font-size: 1.2rem; " class="pt-4 colors-white fontar">
                        أعرض تطبيقك في أول مزاد خاص  ببيع التطبيقات
                    </p>  
                    <p  style="font-size: 1.2rem; " class="pt-4 colors-white fontar">
                        هو أول وأكبر منصة لعرض التطبيقات و بيعها في مزاد علني ومعتمد, يمكن اي                       </p>      
                </div>
              </div>
            </div>
    </div>
      
  </div>
  
  <!-- DOWNLOADAPPS -->
  <div  class="downloadapp">
    <div class="downloadapp-overlay py-5">
      <div class="container pb-5">
        <div class="row pb-5">
          <div class="col-md-6 col-xs-12 pt-5">
            <div class="row pt-5 px-4">
              <h3 class="text-center m-auto fontar" style="color: #fff; font-weight: bold;">حمل تطبيق سوق التطبيقات</h3>
            </div>
            <div class="row pb-5 px-4">
              <p style="font-size: 1.2rem; " class="pt-4 colors-white text-center fontar">
                  الان يمكنك تحميل التطبيق على جوالك 
                  حمل التطبيق الان لخدمة أسهل وأسرع
            </p>  
            </div>
  
            <div class="row px-4">
              <div class="col-md-6 col-sm-6 col-xs-6 pb-1">
                  <img class="img-fluid" src="http://157.230.25.241/SouqWebsite/images/appstore.png" alt="">
              </div>
              <div class="col-md-6 col-sm-6 col-xs-6 pb-1">
                <img class="img-fluid" src="http://157.230.25.241/SouqWebsite/images/playstore.png" alt="">
  
              </div>
            </div>
          </div>
          
        </div>
        <div class="pb-5"> 
          
        </div>
      </div>
    </div>
  </div>

  
</div>



