<div class="col-lg-12 col-md-12 col-xs-12" style="width:100%;">
        <div class="col-lg-12" style="padding:30px;float:right;">
                    <p style="font-family: 'Baloo Bhaijaan';font-size:24px;font-weight:bold;text-align:center;color:#000000">إرسال إشعار  &nbsp;<span class="glyphicon glyphicon-plus-sign" style="margin-left: 10px;vertical-align: text-top;"></span></p>        <hr>
                    
                        <form ng-submit="sendNotification()" style="direction: rtl;">
                                <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                                <div class="form-group text-right">
                                                        <h4 >      الأشعار      </h4>
                                                </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                                <div class="form-group">
                                                        <textarea required id="msg" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                    </div>
                                        </div>
                                </div>
                                <div class="row">
                                        <div class="col-md-3 col-sm-6">
                                                <div class="form-group text-right">
                                                        <h4 >المستخدمين          </h4>
                                                  
                                                </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
                                                <div class="form-inline">
                                                        <div class="form-group mx-sm-3 mb-2">
                                                                <select ng-model="userID"  id="userID">
                                                                        <option  ng-if="c.userKey && c.userKey.length > 0" ng-repeat="c in users"  value="{{c._id}}">{{c.fullname}}</option>
                                
                                                                </select>
                                                                <button type="button" ng-click="addUserToArr(userID)" class="btn-success px-4" style="font-size:1.5vh; text-align:center; border: 1px solid rgba(0, 0, 0, 0.5);font-family: 'Cairo';margin-bottom: 8px;padding: 8px 4px;  z-index: 3;opacity:0.6;border-radius:5px;display:inline-block;margin-right: 5px; margin-left: 5px; ">اضف </button>

                                                        </div>

                                                       

                                                </div>
                                        </div>
                                        <div class="col-md-4 col-sm-6">
        
                                        </div>
                                </div>

                                <div class="row">
                                                <div class="col-md-3 col-sm-6">
                                                        <div class="form-group text-right">
                                                                <h4 >          </h4>
                                                          
                                                        </div>
                                                </div>
                                                <div class="col-md-4 col-sm-6">
                                                       
                                                                <div ng-repeat="u in selectedUsers" class="form-group text-right">
                                                                                <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                                                                                <div class="toast-header">
                                                                                                        <img style="width: 20px; height: 20px;" src="{{u.personalImg}}" class="rounded mr-2" alt="...">
                                                                                                        <strong class="mr-auto">{{u.fullname}}</strong>
                                                                                                        <!-- <small class="text-muted">just now</small> -->
                                                                                                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                                                                                        <span ng-click="deleteSelectedUser($index)" aria-hidden="true">&times;</span>
                                                                                                        </button>
                                                                                                </div>
                                                                                                
                                                                                                </div>
                                                                </div>
                                                               
                                                </div>
                                                
                                        </div>
                               
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                        <button type="submit" class="btn-success px-4" style="font-size:2vh; text-align:center; border: 1px solid rgba(0, 0, 0, 0.5);font-family: 'Cairo';margin-bottom: 8px;padding: 8px 4px;  z-index: 3;opacity:0.6;border-radius:5px;display:inline-block;margin-right: 5px; margin-left: 5px; ">حفظ</button>
                                        <a href back-button class="btn-danger px-4" style="font-size:2vh; text-align:center; border: 1px solid rgba(0, 0, 0, 0.5);font-family: 'Cairo';margin-bottom: 8px;padding: 8px 4px;  z-index: 3;opacity:0.6;border-radius:5px;font-weight:bold;display:inline-block;margin-right: 5px; margin-left: 5px">رجـــوع</a>
                                    </div>
                        </form>
        </div>
</div>