
<div class="col-lg-12 col-md-12 col-xs-12" style="width:100%;"> 
        <p style="font-family: 'Baloo Bhaijaan';font-size:24px;font-weight:bold;text-align:center;color:#000000">تعديل المزاد      &nbsp;<span class="glyphicon glyphicon-plus-sign" style="margin-left: 10px;vertical-align: text-top;"></span></p>        <hr>
        <form  ng-submit="editData()" style="direction: rtl;">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="form-group text-right">
                        <h4 >  أسـم التطبيق  </h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="form-group">
                        <input disabled value="{{app.appName}}" required id="appName" type="text" class="form-control"  >
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                        <div class="form-group text-right">
                            <h4 >  رقم الجوال   </h4>
                        </div>
                </div>
                <div class="col-md-4 col-sm-6">
                        <div class="form-group">
                            <input disabled value="{{app.mobile}}"  required id="mobile"  class="form-control"   >
                        </div>
                </div>
                    
            </div>
          

            <div class="row">
                    <div class="col-md-3 col-sm-6">
                            <div class="form-group text-right">
                                <h4 >تاريخ البداية       </h4>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <input disabled value="{{app.startDate | cmdate:'yyyy-MM-dd'}}" required  id="startDate" type="date" class="form-control"  >
                            </div>
                    </div>
                        
            </div>
            <div class="row">
                    <div class="col-md-3 col-sm-6">
                            <div class="form-group text-right">
                                <h4 >تاريخ النهاية        </h4>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <input disabled value="{{app.endDate | cmdate:'yyyy-MM-dd'}}" required  id="endDate" type="date" class="form-control"  >
                            </div>
                    </div>
                        
            </div>
          
            <div class="row">
                    <div class="col-md-3 col-sm-6">
                            <div class="form-group text-right">
                                <h4 >  وقت البداية    </h4>
                            </div>
                    </div>
                    <div class="col-md-1 col-sm-6">
                            <div class="form-group">
                                <input disabled type="number"  min="0" max="24"  value="{{app.startH}}" required id="startH"  class="form-control"   >
                            </div>
                    </div>
                        
            </div>
          
            <div class="row">
                    <div class="col-md-3 col-sm-6">
                            <div class="form-group text-right">
                                <h4 >  وقت النهاية     </h4>
                            </div>
                    </div>
                    <div class="col-md-1 col-sm-6">
                            <div class="form-group">
                                <input disabled type="number"  min="0" max="24" value="{{app.endH}}" required id="endH"  class="form-control"   >
                            </div>
                    </div>
                        
            </div>
    
            <div class="row">
                    <div class="col-md-3 col-sm-6">
                            <div class="form-group text-right">
                                <h4 >تتطلب تأمين       </h4>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                    <select disabled   id="isInsurance" class="form-control">
                                            <option ng-selected="app.isInsurance == 1" value="1">نعم  </option>
                                            <option ng-selected="app.isInsurance == 2" value="2" >لا   </option>
    
                                    </select>
                            </div>
                    </div>
                        
            </div>
            <div class="row">
                    <div class="col-md-3 col-sm-6">
                            <div class="form-group text-right">
                                <h4 >الحالة        </h4>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                    <select disabled   id="status" class="form-control">
                                            <option ng-selected="app.status == 1" value="1"> معلق   </option>
                                            <option ng-selected="app.status == 2" value="2" >مقبول   </option>
                                            <option ng-selected="app.status == 3" value="2" >مرفوض   </option>

                                    </select>
                            </div>
                    </div>
                        
            </div>
            <div class="row">
                    <div class="col-md-3 col-sm-6">
                            <div class="form-group text-right">
                                <h4 >  مبلغ التأمين    </h4>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <input disabled type="number"  value="{{app.insurance}}" required id="insurance"  class="form-control"   >
                            </div>
                    </div>
                        
            </div>

            <div class="row">
                    <div class="col-md-3 col-sm-6">
                            <div class="form-group text-right">
                                <h4 >  رابط الاندرويد     </h4>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <input disabled type="link" value="{{app.playstoreLink}}"  required id="playstoreLink"   class="form-control"   >
                            </div>
                    </div>
                        
            </div>
            <div class="row">
                    <div class="col-md-3 col-sm-6">
                            <div class="form-group text-right">
                                <h4 >  رابط الايفون     </h4>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <input disabled type="link" value="{{app.appstoreLink}}" required id="appstoreLink"   class="form-control"   >
                            </div>
                    </div>
                        
            </div>
           




            <div class="row">
                    <div class="col-md-3 col-sm-6">
                            <div class="form-group text-right">
                                    <h4 >      الوصف     </h4>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                    <textarea disabled required id="description" class="form-control" id="exampleFormControlTextarea1" rows="3">

                                            {{app.description}}
                                    </textarea>
                                </div>
                    </div>
            </div>

            <div class="row">
                    <div class="col-md-3 col-sm-6">
                            <div class="form-group text-right">
                                <h4 >بداية السعر      </h4>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <input disabled value="{{app.startPrice}}" required  id="startPrice" type="number" class="form-control"   >
                            </div>
                    </div>
                        
            </div>
            <div class="row">
                    <div class="col-md-3 col-sm-6">
                            <div class="form-group text-right">
                                <h4 >   أقل سعر     </h4>
                            </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                            <div class="form-group">
                                <input disabled value="{{app.minimumPrice}}" required id="minimumPrice" type="number" class="form-control"   >
                            </div>
                    </div>
                        
            </div>


            <div  class="row">
                    <div class="col-md-3 col-sm-6">
                            <div class="form-group text-right">
                                <h4 >الصور               </h4>
                            </div>
                    </div>
                    <div  class="col-md-9 col-sm-12">
                            <div style="direction: rtl;" class="row pt-5 pt-3">
                                <div class="col-xs-12 col-sm-6 col-md-6 text-right m-auto pt-5 ">
                                    
                                    <div style="width: 150px; height: 150px; background-color: #000; position: relative; "
                                        class="m-auto">
                                        <img style="width: 150px; height: 150px;" id="d1" src="{{app.img1}}" class="img-thumbnail" />
                                        <label ng-if="!img1_wait || img1_wait == false"
                                            style="background-color: transparent; position: absolute; top: 0;bottom: 0; left: 0; right: 0;"
                                            for="img1">
                    
                                        </label>
                                        <div ng-if="img1_wait == true" style="position: absolute; top: 0;bottom: 0; left: 0; right: 0;">
                                               <img  style="width: 150px; height: 150px;" class="img-thumbnail" src="http://134.209.178.237/kayanWebsite/images/spinner.gif" alt="">
                                         </div>
                    
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 text-md-right text-sm-right text-xs-center  m-auto pt-5 ">
                                   صورة 1
                                   
                                </div>  
                            </div>
                            <div style="direction: rtl;" class="row  pt-3">
                                <div class="col-xs-12 col-sm-6 col-md-6 text-right m-auto">
                                   
                                    <div style="width: 150px; height: 150px; background-color: #000; position: relative; "
                                        class="m-auto">
                                        <img style="width: 150px; height: 150px;" id="d2" src="{{app.img2}}" class="img-thumbnail" />
                                        <label ng-if="!img2_wait || img2_wait == false"
                                            style="background-color: transparent; position: absolute; top: 0;bottom: 0; left: 0; right: 0;"
                                            for="img2">
                    
                                        </label>
                                        <div ng-if="img2_wait == true" style="position: absolute; top: 0;bottom: 0; left: 0; right: 0;">
                                               <img  style="width: 150px; height: 150px;" class="img-thumbnail" src="http://134.209.178.237/kayanWebsite/images/spinner.gif" alt="">
                                         </div>
                    
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6  text-md-right text-sm-right text-xs-center m-auto pt-5 ">
                                  
                                        صورة 2
                                 
                               </div>  
                            </div>
                            <div style="direction: rtl;" class="row  pt-3">
                                <div class="col-xs-12 col-sm-6 col-md-6 text-right m-auto">
                                   
                                    <div style="width: 150px; height: 150px; background-color: #000; position: relative; "
                                        class="m-auto">
                                        <img style="width: 150px; height: 150px;" id="d3" src="{{app.img3}}" class="img-thumbnail" />
                                        <label ng-if="!img3_wait || img3_wait == false"
                                            style="background-color: transparent; position: absolute; top: 0;bottom: 0; left: 0; right: 0;"
                                            for="img3">
                    
                                        </label>
                                        <div ng-if="img3_wait == true" style="position: absolute; top: 0;bottom: 0; left: 0; right: 0;">
                                               <img  style="width: 150px; height: 150px;" class="img-thumbnail" src="http://134.209.178.237/kayanWebsite/images/spinner.gif" alt="">
                                         </div>
                    
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-6 text-md-right text-sm-right text-xs-center m-auto pt-5 ">
                              
                                        صورة 3
                               </div>  
                            </div>

                            <div style="direction: rtl;" class="row  pt-3">
                                    <div class="col-xs-12 col-sm-6 col-md-6 text-right m-auto">
                                       
                                        <div style="width: 150px; height: 150px; background-color: #000; position: relative; "
                                            class="m-auto">
                                            <img style="width: 150px; height: 150px;" id="d4" src="{{app.img4}}" class="img-thumbnail" />
                                            <label ng-if="!img4_wait || img4_wait == false"
                                                style="background-color: transparent; position: absolute; top: 0;bottom: 0; left: 0; right: 0;"
                                                for="img4">
                        
                                            </label>
                                            <div ng-if="img4_wait == true" style="position: absolute; top: 0;bottom: 0; left: 0; right: 0;">
                                                   <img  style="width: 150px; height: 150px;" class="img-thumbnail" src="http://134.209.178.237/kayanWebsite/images/spinner.gif" alt="">
                                             </div>
                        
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 text-md-right text-sm-right text-xs-center m-auto pt-5 ">
                                  
                                            صورة 4
                                   </div>  
                            </div>
                            <div style="direction: rtl;" class="row  pt-3">
                                    <div class="col-xs-12 col-sm-6 col-md-6 text-right m-auto">
                                       
                                        <div style="width: 150px; height: 150px; background-color: #000; position: relative; "
                                            class="m-auto">
                                            <img style="width: 150px; height: 150px;" id="d5" src="{{app.img5}}" class="img-thumbnail" />
                                            <label ng-if="!img5_wait || img5_wait == false"
                                                style="background-color: transparent; position: absolute; top: 0;bottom: 0; left: 0; right: 0;"
                                                for="img5">
                        
                                            </label>
                                            <div ng-if="img5_wait == true" style="position: absolute; top: 0;bottom: 0; left: 0; right: 0;">
                                                   <img  style="width: 150px; height: 150px;" class="img-thumbnail" src="http://134.209.178.237/kayanWebsite/images/spinner.gif" alt="">
                                             </div>
                        
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6 col-md-6 text-md-right text-sm-right text-xs-center m-auto pt-5 ">
                                  
                                            صورة 5
                                   </div>  
                            </div>
                        
                        </div>
            </div>
            

    
            <div class="col-lg-12 col-md-12 col-xs-12">
                <!-- <button type="submit" class="btn-success px-4" style="font-size:2vh; text-align:center; border: 1px solid rgba(0, 0, 0, 0.5);font-family: 'Cairo';margin-bottom: 8px;padding: 8px 4px;  z-index: 3;opacity:0.6;border-radius:5px;display:inline-block;margin-right: 5px; margin-left: 5px; ">تعديل </button> -->
                <a href back-button class="btn-danger px-4" style="font-size:2vh; text-align:center; border: 1px solid rgba(0, 0, 0, 0.5);font-family: 'Cairo';margin-bottom: 8px;padding: 8px 4px;  z-index: 3;opacity:0.6;border-radius:5px;font-weight:bold;display:inline-block;margin-right: 5px; margin-left: 5px">رجـــوع</a>
            </div>
        </form>
</div>

