   
   <div class="col-lg-12 col-md-12 col-xs-12" >
   
        <a href="" style="text-decoration:none;"><p style="font-family: 'Baloo Bhaijaan';font-size:24px;font-weight:bold;text-align:center;color:#000">تواصل معنا   &nbsp;<span class="glyphicon glyphicon-plus-sign" style="margin-left: 10px;vertical-align: text-top;"></span></p></a>
           
        <div style="width: 100%; overflow-x: scroll;">
                <table style="border: 1px solid #000; direction: rtl; " class="table table-bordered table-hover  text-center">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">#</th>
                            <!-- <th scope="col">الصورة  </th> -->
    
                            <th scope="col">اسم المستخدم  </th>
                            <th scope="col">الرسالة  </th>
                            <th scope="col">التاريخ   </th>

                            <th scope="col">الحالة  </th>
    
                            <!-- <th scope="col">التعديل   </th> -->

                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-class="{'table-danger': c.status == 2 }" dir-paginate="c in contactUs |filter:searchText |itemsPerPage:20">
                            <th scope="row">{{$index+1}}</th>
                            <!-- <td>
                                <img style="width: 70px; height: 70px; border-radius: 50%;" src="{{c.personalImg}}" alt="">
                            </td> -->
                            <td>{{c.userID.fullname || 'غير محدد '}}</td>
                            <td>{{c.msg || 'لا توجد رسالة '}}</td>
                            <td>{{c.createdAt  | cmdate:'yyyy-MM-dd'  }}</td>

                            
                            <td>
                                <span ng-if="c.status == 1">
                                    نشط 
                                </span>
                                <span ng-if="c.status == 2">
                                    غير نشظ  
                                </span>
                            </td>
                            
                         
                            <!-- <td><a href="editContactUs/{{c._id}}"><i class="fas fa-edit" style="color:#666363"></i></a></td> -->
    
    
    
                          </tr>
                         
                        </tbody>
                      </table>
                     
        
        
            </div>
            <div class="clearfix">
    
            </div>
           
           <div style="width: 100%;" class="row">
                <dir-pagination-controls max-size="8"
                direction-links="true"
                boundary-links="true">
                </dir-pagination-controls>
           </div>
            
        </div>
        
       
     
    
    