<style>
        /* Segoe UI family font */
        /* width */
        .Message::-webkit-scrollbar {
            /* width: 0.2vh; */
        }
    
        /* Track */
        .Message::-webkit-scrollbar-track {
            background: #000; 
        }
        
        /* Handle */
        .Message::-webkit-scrollbar-thumb {
            background: #fff000; 
        }
    
        /* Handle on hover */
        .Message::-webkit-scrollbar-thumb:hover {
            background: #c8972c; 
        }
    
        .Message p{
            text-align: center;
            /* font-size: 2vh; */
            margin-top: 20px;
            margin-bottom: 0vw;
            line-height: normal;
            padding: 1.5vw;
            background-color: #C8972C;
            width: 100%;
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
            /* border-radius: 2.5vh; */
        }
        .Messagelink{
            text-align: center;
            border: #717171 solid 1px;
            color: #000;
            padding: 1vh;
            border-radius: 10px;
            margin: 1% 0% 2%;
        }
        .Message a{
            /* font-size: 1.8vh;   */
        }
        .Message a:visited {
            color: #000 !important;
        }
        .Message a:hover {
            color: #000 !important;
        }
        
        .Message a:active {
            color: #000 !important;
        }
        .coment {
            direction: rtl;
            width: 100%;
            height: auto;
            
        }
        .comment {
            border-color: #cccccc;
            background: no-repeat;
        }
        .form-group {
            width: 100%;
            margin: auto;
            margin-top: 0.5vw;
        }
        .form-control.is-valid, .was-validated .form-control:valid {
            border-color: #cccccc !important;
            background-image: none !important;
            background: no-repeat;
            padding: 0.5vh 1vh;
            padding-right: 1vh !important;
            width: 100%;
            height: 12vh;
            font-size: 1.5vh;
            margin: auto;
        }
        .bot {
            /* margin-bottom: 1.5vh; */
            text-align: center;
            margin: auto auto 3vh;;
        }
        .button {
            font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;
            color: #fff;
            background-color: #000;
            padding: .5vh 4vh;
            border-radius: 1vh;
            border: 0px;
            font-size: 1.5vh;
        }
        .mb-12, .my-3 {
            margin-bottom: 2vh !important;
            margin-top: 2vh !important;
        }
    
    
    
    
    
        @import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');
                    .main {
                        font-family: Arial;
                        width: 80%;
                        display: block;
                        margin: 0 auto;
                    }
                    .slick-slide img {
                        display: block;
                        width: 25vw;
                        height: 15vw;
                        border-radius: 1.5vw;
                        margin: auto;
                    }
                    h3 {
                        background: #fff;
                        color: #3498db;
                        font-size: 36px;
                        line-height: 100px;
                        margin: 10px;
                        padding: 2%;
                        position: relative;
                        text-align: center;
                    }
                    .action {
                        display: block;
                        margin: 100px auto;
                        width: 100%;
                        text-align: center;
                    }
                    .action a {
                        display: inline-block;
                        padding: 5px 10px;
                        background: #f30;
                        color: #fff;
                        text-decoration: none;
                    }
                    .action a:hover {
                        background: #000;
                    }
                    .slick-next {
                        background-color: #000;
                        right: -25px;
                    }
                    .slick-prev {
                        background-color: #000;
                        right: -25px;
                    }
                    .slick-next:hover {
                        background-color: #000 !important;
                    }
                    .slick-prev:hover {
                        background-color: #000 !important;
                    }
                    .slick-next:active {
                        background-color: #000 !important;
                    }
                    .slick-prev:active {
                        background-color: #000 !important;
                    }
                    .slick-next:visited {
                        background-color: #000 !important;
                    }
                    .slick-prev:visited {
                        background-color: #000 !important;
                    }
        
        @media screen and (max-height: 450px) {
        }
        @media (min-width:320px)  { 
            .titleA {
                font-size: 22px;
                font-family: 'Fredoka One', cursive;
            } 
            .titleB {
                font-size: 14px;
                font-family: 'Fredoka One', cursive;
            }
            .button_signin {
                font-size: 14px;
                width: 80px;
                height: 30px;
                text-align: center;
                border-radius: 8px;
            }
            .mynavbar2 {
                height: 170px;
            }
            .mynavbar2-categories {
                height: 325px;
            }
            .iphoe {
                top: 230px;
            }
            .iphoe_img {
                width: 170px;
            }
            .texthomeh {
                font-family: 'Fredoka One', cursive;
                font-size: 24px;
            }
            .texthome p{
                font-size: 14px;
            }
            .texthomep {
                font-size: 12px;
                font-weight: bold;
                color: #666666;
            }
            .add_your_car p{
                font-size: 24px;
            }
            .your_car_texth {
                font-size: 23px;
            }
            .your_car_textp {
                font-size: 14px !important;
                color: #666666 !important;
            }
            .button_2 {
                font-size: 12px;
                width: 80px;
                height: 30px;
                text-align: center;
                border-radius: 8px;
            }
            .iphoeapp img{
                width: 600px;
            }
            .download_text_1 {
                font-size: 23px;
            }
            .download_text_2 {
                font-size: 14px;
            }
            .download_text_3 {
                font-size: 12px;
            }
            .card {
                margin: 10px 10px;
            }
            .p_1 {
                font-size: 14px;
                font-weight: bold;
            }
            .p_2 {
                font-size: 12px;
            }
            .button {
                font-size: 12px;
                width: 80px;
                height: 30px;
                text-align: center;
                border-radius: 8px;
            }
            .p-1adtitle {
                font-size: 12px;
            }
            .buttonadtitle {
                font-size: 12px;
                width: 50px;
                 height: 24px;
                text-align: center;
                border-radius: 8px;
            }
            .rating span {
                font-size: 24px;
            }
            .general p {
                font-size: 14px;
            }
            .text_1 p{
                font-size: 14px;
            }
            .text_2 p{
                font-size: 14px;
            }
            .txt_1 p{
                font-size: 14px;
            }
            .txt_2 p{
                font-size: 14px;
            }
            .form-group p{
                font-size: 14px;
            }
            .custom-control-label {
                font-size: 12px;
            }
            .automatc p{
                font-size: 12px;
            }
            .date p{
                font-size: 12px;
            }
            .Message p{
                font-size: 14px;
                border-radius: 8px;
            }
            .Message a{
                font-size: 14px;
                /* border-radius: 8px; */
            }
            .chat {
                font-size: 14px;
            }
        }
        @media (min-width:481px)  {
            .titleA {
                font-size: 22px;
                font-family: 'Fredoka One', cursive;
            } 
            .titleB {
                font-size: 12px;
                font-family: 'Fredoka One', cursive;
            }
            .button_signin {
                font-size: 11px;
                width: 80px;
                height: 30px;
                text-align: center;
                border-radius: 8px;
            }
            .mynavbar2 {
                height: 325px;
            }
            .mynavbar2-categories {
                height: 325px;
            }
            .iphoe {
                top: 230px;
            }
            .iphoe_img {
                width: 170px;
            }
            .texthomeh {
                font-family: 'Fredoka One', cursive;
                font-size: 24px;
            }
            .texthome p{
                font-size: 14px;
            }
            .texthomep {
                font-size: 12px;
                font-weight: bold;
                color: #666666;
            }
            .add_your_car p{
                font-size: 24px;
            }
            .your_car_texth {
                font-size: 23px;
            }
            .your_car_textp {
                font-size: 13px !important;
                color: #666666 !important;
            }
            .button_2 {
                font-size: 11px;
                width: 80px;
                height: 30px;
                text-align: center;
                border-radius: 8px;
            }
            .iphoeapp img{
                width: 600px;
            }
            .download_text_1 {
                font-size: 23px;
            }
            .download_text_2 {
                font-size: 14px;
            }
            .download_text_3 {
                font-size: 11px;
            }
            .card {
                margin: 10px 10px;
            }
            .p_1 {
                font-size: 14px;
                font-weight: bold;
            }
            .p_2 {
                font-size: 12px;
            }
            .button {
                font-size: 12px;
                width: 80px;
                height: 30px;
                text-align: center;
                border-radius: 8px;
            }
            .p-1adtitle {
                font-size: 12px;
            }
            .buttonadtitle {
                font-size: 12px;
                width: 50px;
                 height: 24px;
                text-align: center;
                border-radius: 8px;
            }
            .rating span {
                font-size: 23px;
            }
            .general p {
                font-size: 16px;
            }
            .text_1 p{
                font-size: 14px;
            }
            .text_2 p{
                font-size: 14px;
            }
            .txt_1 p{
                font-size: 14px;
            }
            .txt_2 p{
                font-size: 14px;
            }
            .form-group p{
                font-size: 14px;
            }
            .custom-control-label {
                font-size: 14px;
            }
            .automatc p{
                font-size: 14px;
            }
            .date p{
                font-size: 14px;
            }
            .Message p{
                font-size: 16px;
                border-radius: 8px;
            }
            .Message a{
                font-size: 16px;
                /* border-radius: 8px; */
            }
            .chat {
                font-size: 16px;
            }
        }
        @media (min-width:641px)  { 
            .titleA {
                font-size: 24px;
                font-family: 'Fredoka One', cursive;
            }
            .titleB {
                font-size: 16px;
                font-family: 'Fredoka One', cursive;
            }
            .button_signin {
                font-size: 12px;
                width: 80px;
                height: 30px;
                text-align: center;
                border-radius: 8px;
            }
            .mynavbar2 {
                height: 490px;
            }
            .mynavbar2-categories {
                height: 490px;
            }
            .iphoe {
                top: 300px;
            }
            .iphoe_img {
                width: 220px;
            }
            .texthomeh {
                font-family: 'Fredoka One', cursive;
                font-size: 26px;
            }
            .texthome p{
                font-size: 16px;
            }
            .texthomep {
                font-size: 14px;
                font-weight: bold;
                color: #666666;
            }
            .add_your_car p{
                font-size: 26px;
            }
            .your_car_texth {
                font-size: 26px;
            }
            .your_car_textp {
                font-size: 16px !important;
                color: #666666 !important;
            }
            .button_2 {
                font-size: 12px;
                width: 80px;
                height: 30px;
                text-align: center;
                border-radius: 8px;
            }
            .iphoeapp img{
                width: 800px;
            }
            .download_text_1 {
                font-size: 26px;
            }
            .download_text_2 {
                font-size: 16px;
            }
            .download_text_3 {
                font-size: 12px;
            }
            .card {
                margin: 10px 10px;
            }
            .p_1 {
                font-size: 16px;
                font-weight: bold;
            }
            .p_2 {
                font-size: 12px;
            }
            .button {
                font-size: 14px;
                width: 90px;
                height: 35px;
                text-align: center;
                border-radius: 8px;
            }
            .p-1adtitle {
                font-size: 16px;
            }
            .buttonadtitle {
                font-size: 14px;
                width: 60px;
                 height: 30px;
                text-align: center;
                border-radius: 8px;
            }
            .rating span {
                font-size: 26px;
            }
            .general p {
                font-size: 18px;
            }
            .text_1 p{
                font-size: 16px;
            }
            .text_2 p{
                font-size: 16px;
            }
            .txt_1 p{
                font-size: 16px;
            }
            .txt_2 p{
                font-size: 16px;
            }
            .form-group p{
                font-size: 16px;
            }
            .custom-control-label {
                font-size: 16px;
            }
            .automatc p{
                font-size: 16px;
            }
            .date p{
                font-size: 16px;
            }
            .Message p{
                font-size: 18px;
                border-radius: 8px;
            }
            .Message a{
                font-size: 18px;
                /* border-radius: 8px; */
            }
            .chat {
                font-size: 18px;
            }
        }
        @media (min-width:961px)  { 
            .titleA {
                font-size: 28px;
                font-family: 'Fredoka One', cursive;
            }
            .titleB {
                font-size: 20px;
                font-family: 'Fredoka One', cursive;
            }
            .button_signin {
                font-size: 16px;
                width: 100px;
                height: 40px;
                text-align: center;
                border-radius: 10px;
            }
            .mynavbar2 {
                height: 600px;
            }
            .mynavbar2-categories {
                height: 600px;
            }
            .iphoe {
                top: 340px;
            }
            .iphoe_img {
                width: 270px;
            }
            .texthomeh {
                font-family: 'Fredoka One', cursive;
                font-size: 37px;
            }
            .texthome p{
                font-size: 18px;
            }
            .texthomep {
                font-size: 16px;
                font-weight: bold;
                color: #666666;
            }
            .add_your_car p{
                font-size: 37px;
            }
            .your_car_texth {
                font-size: 37px;
            }
            .your_car_textp {
                font-size: 20px !important;
                color: #666666 !important;
            }
            .button_2 {
                font-size: 16px;
                width: 100px;
                height: 40px;
                text-align: center;
                border-radius: 10px;
            }
            .iphoeapp img{
                width: 850px;
            }
            .download_text_1 {
                font-size: 37px;
            }
            .download_text_2 {
                font-size: 18px;
            }
            .download_text_3 {
                font-size: 16px;
            }
            .card {
                margin: 10px 30px;
            }
            .p_1 {
                font-size: 18px;
                font-weight: bold;
            }
            .p_2 {
                font-size: 16px;
            }
            .button {
                font-size: 16px;
                width: 100px;
                height: 40px;
                text-align: center;
                border-radius: 10px;
            }
            .p-1adtitle {
                font-size: 20px;
            }
            .buttonadtitle {
                font-size: 16px;
                width: 75px;
                height: 35px;
                text-align: center;
                border-radius: 10px;
            }
            .rating span {
                font-size: 37px;
            }
            .general p {
                font-size: 20px;
            }
            .text_1 p{
                font-size: 20px;
            }
            .text_2 p{
                font-size: 16px;
            }
            .txt_1 p{
                font-size: 20px;
            }
            .txt_2 p{
                font-size: 16px;
            }
            .form-group p{
                font-size: 16px;
            }
            .custom-control-label {
                font-size: 16px;
            }
            .automatc p{
                font-size: 16px;
            }
            .date p{
                font-size: 16px;
            }
            .Message p{
                font-size: 20px;
                border-radius: 10px;
            }
            .Message a{
                font-size: 20px;
                /* border-radius: 10px; */
            }
            .chat {
                font-size: 20px;
            }
        }
        @media (min-width:1025px) {
            .titleA {
                font-size: 30px;
                font-family: 'Fredoka One', cursive;
            }
            .titleB {
                font-size: 28px;
                font-family: 'Fredoka One', cursive;
            }
            .button_signin {
                font-size: 20px;
                width: 120px;
                height: 50px;
                text-align: center;
                border-radius: 14px;
            }
            .mynavbar2 {
                height: 650px;
            }
            .mynavbar2-categories {
                height: 650px;
            }
            .iphoe {
                top: 360px;
            }
            .iphoe_img {
                width: 310px ;
            }
            .texthomeh {
                font-family: 'Fredoka One', cursive;
                font-size: 39px;
            }
            .texthome p{
                font-size: 24px;
            }
            .texthomep {
                font-size: 18px;
                font-weight: bold;
                color: #666666;
            }
            .add_your_car p{
                font-size: 39px;
            }
            .your_car_texth {
                font-size: 39px;
            }
            .your_car_textp {
                font-size: 22px !important;
                color: #666666 !important;
            }
            .button_2 {
                font-size: 20px;
                width: 120px;
                height: 50px;
                text-align: center;
                border-radius: 14px;
            }
            .iphoeapp img{
                width: 890px;
            }
            .download_text_1 {
                font-size: 39px;
            }
            .download_text_2 {
                font-size: 24px;
            }
            .download_text_3 {
                font-size: 20px;
            }
            .card {
                margin: 10px 40px;
            }
            .p_1 {
                font-size: 24px;
                font-weight: bold;
            }
            .p_2 {
                font-size: 20px;
            }
            .button {
                font-size: 18px;
                width: 120px;
                height: 50px;
                text-align: center;
                border-radius: 14px;
            }
            .p-1adtitle {
                font-size: 28px;
            }
            .buttonadtitle {
                font-size: 18px;
                width: 80px;
                height: 41px;
                text-align: center;
                border-radius: 14px;
            }
            .rating span {
                font-size: 39px;
            }
            .general p {
                font-size: 28px;
            }
            .text_1 p{
                font-size: 22px;
            }
            .text_2 p{
                font-size: 20px;
            }
            .txt_1 p{
                font-size: 22px;
            }
            .txt_2 p{
                font-size: 20px;
            }
            .form-group p{
                font-size: 20px;
            }
            .custom-control-label {
                font-size: 20px;
            }
            .automatc p{
                font-size: 20px;
            }
            .date p{
                font-size: 20px;
            }
            .Message p{
                font-size: 24px;
                border-radius: 14px;
            }
            .Message a{
                font-size: 28px;
                /* border-radius: 14px; */
            }
            .chat {
                font-size: 28px;
            }
        }
        @media (min-width:1281px) { 
            .titleA {
                font-size: 36px;
                font-family: 'Fredoka One', cursive;
            }
            .titleB {
                font-size: 28px;
                font-family: 'Fredoka One', cursive;
            }
            .button_signin {
                font-size: 25px;
                width: 155px;
                height: 56px;
                text-align: center;
                border-radius: 12px;
            }
            .mynavbar2 {
                height: 719px;
            }
            .mynavbar2-categories {
                height: 719px;
            }
            .iphoe {
                top: 430px;
            }
            .iphoe_img {
                width: 340px;
            }
            .texthomeh {
                font-family: 'Fredoka One', cursive;
                font-size: 45px;
            }
            .texthome p{
                font-size: 30px;
            }
            .texthomep {
                font-size: 20px;
                font-weight: bold;
                color: #666666;
            }
            .add_your_car p{
                font-size: 45px;
            }
            .your_car_texth{
                font-size: 45px;
            }
            .your_car_textp {
                font-size: 26px !important;
                color: #666666 !important;
            }
            .button_2 {
                font-size: 25px;
                width: 155px;
                height: 56px;
                text-align: center;
                border-radius: 12px;
            }
            .iphoeapp img{
                width: 927px;
            }
            .download_text_1 {
                font-size: 45px;
            }
            .download_text_2 {
                font-size: 30px;
            }
            .download_text_3 {
                font-size: 25px;
            }
            .card {
                margin: 10px 47px;
            }
            .p_1 {
                font-size: 30px;
                font-weight: bold;
            }
            .p_2 {
                font-size: 25px;
            }
            .button {
                font-size: 20px;
                width: 140px;
                height: 45px;
                text-align: center;
                border-radius: 12px;
            }
            .p-1adtitle {
                font-size: 28px;
            }
            .buttonadtitle {
                font-size: 20px;
                width: 90px;
                height: 43px;
                text-align: center;
                border-radius: 12px;
            }
            .rating span {
                font-size: 45px;
            }
            .general p {
                font-size: 28px;
            }
            .text_1 p{
                font-size: 26px;
            }
            .text_2 p{
                font-size: 25px;
            }
            .txt_1 p{
                font-size: 26px;
            }
            .txt_2 p{
                font-size: 25px;
            }
            .form-group p{
                font-size: 25px;
            }
            .custom-control-label {
                font-size: 25px;
            }
            .automatc p{
                font-size: 25px;
            }
            .date p{
                font-size: 25px;
            }
            .Message p{
                font-size: 24px;
                border-radius: 12px;
            }
            .Message a{
                font-size: 28px;
                /* border-radius: 12px; */
            }
            .chat {
                font-size: 28px;
            }
        }
        @media (min-width:1500px) { 
            .titleA {
                font-size: 36px;
                font-family: 'Fredoka One', cursive;
            }
            .titleB {
                font-size: 28px;
                font-family: 'Fredoka One', cursive;
            }
            .button_signin {
                font-size: 25px;
                width: 155px;
                height: 56px;
                text-align: center;
                border-radius: 12px;
            }
            .mynavbar2 {
                height: 920px;
            }
            .mynavbar2-categories {
                height: 920px;
            }
            .iphoe {
                top: 510px;
            }
            .iphoe_img {
                width: 400px;
            }
            .texthomeh {
                font-family: 'Fredoka One', cursive;
                font-size: 45px;
            }
            .texthome p{
                font-size: 30px;
            }
            .texthomep {
                font-size: 20px;
                font-weight: bold;
                color: #666666;
            }
            .add_your_car p{
                font-size: 45px;
            }
            .your_car_texth{
                font-size: 45px;
            }
            .your_car_textp {
                font-size: 26px !important;
                color: #666666 !important;
            }
            .button_2 {
                font-size: 25px;
                width: 155px;
                height: 56px;
                text-align: center;
                border-radius: 12px;
            }
            .iphoeapp img{
                width: 927px;
            }
            .download_text_1 {
                font-size: 45px;
            }
            .download_text_2 {
                font-size: 30px;
            }
            .download_text_3 {
                font-size: 25px;
            }
            .card {
                margin: 10px 47px;
            }
            .p_1 {
                font-size: 30px;
                font-weight: bold;
            }
            .p_2 {
                font-size: 25px;
            }
            .button {
                font-size: 20px;
                width: 150px;
                height: 50px;
                text-align: center;
                border-radius: 12px;
            }
            .p-1adtitle {
                font-size: 28px;
            }
            .buttonadtitle {
                font-size: 20px;
                width: 80px;
                height: 49px;
                text-align: center;
                border-radius: 12px;
            }
            .rating span {
                font-size: 45px;
            }
            .general p {
                font-size: 28px;
            }
            .text_1 p{
                font-size: 26px;
            }
            .text_2 p{
                font-size: 25px;
            }
            .txt_1 p{
                font-size: 26px;
            }
            .txt_2 p{
                font-size: 25px;
            }
            .form-group p{
                font-size: 25px;
            }
            .custom-control-label {
                font-size: 25px;
            }
            .automatc p{
                font-size: 25px;
            }
            .date p{
                font-size: 25px;
            }
            .Message p{
                font-size: 24px;
                border-radius: 12px;
            }
            .Message a{
                font-size: 28px;
                /* border-radius: 12px; */
            }
            .chat {
                font-size: 28px;
            }
        }
    </style>
    
    
    
<div ng-if="!kayanLang || kayanLang == 'en'" style="min-height: 70vh;">
        <div  style="position: relative;" class="coverDefault">     
                
                 
                  
            </div>
        <div ng-if="view == 1" class="container">
                <div class="row">
                        <div class=" col-md-4 col-sm-12 pb-4">
                                <div class="Message">
                                    <p> message history </p>
                                </div>
                                <div class="Message" style="overflow-y: scroll; height: 400px; border: 0.2vh solid #000000; padding: 0vh 1vh; border-left: 0; border-top: 0;">
                                    <div class="Messagelink col-12" ng-repeat="c in userMessages">
                                        <a style="text-decoration: none; font-size: 18px;" ng-click="getChatHistory(c._id)" href="">{{c.createdAt  | cmdate:'yyyy-MM-dd'}}</a>
                                    </div>
                                </div>
                            </div>
                    <div class=" col-md-8 col-sm-12">
                        <div class="Message">
                            <p> Type your message </p>
                        </div>
                        <div style="color: #000; text-align: left; font-size: 4vh;">
                            <i class="fas fa-sms"></i>
                            <p style="font-size: 1.5vh; display: inline-block; vertical-align: middle;"> New Message </p>
                        </div>
        
                        <div style="color: #000; text-align: left; font-size: 4vh;">
                            <!-- <i class="fas fa-sms"></i> -->
                            <p  ng-repeat="c in currentMessages" style="font-size: 1.5vh; display: inline-block; vertical-align: middle; height: 10vh; color: #000 !important"> {{c.msg}} </p>
                        </div>
                        <form class="was-validated">
                            <textarea class="mb-12 form-control" ng-model="message" id="Messageid" placeholder="Type Here  ."> </textarea>
                        </form>
                        <div class="bot">
                            <input disabled ng-if="!message || message.length == 0" class="button" type="button" value="Send" ng-click="sendNewMessage(kayanUserID,message)" />
        
                            <input ng-if="message || message.length > 0" class="button" type="button" value="Send" ng-click="sendNewMessage(kayanUserID,message)" />
                        </div>
                    </div>
                  
                </div>
            </div>
        
        
        
            <div ng-if="view == 2" class="container">
                    <div class="row">
                        <div class="coment col-md-8 m-auto">
                            <div class="Message">
                                <p> Customer service chat </p>
                            </div>
                            <div class="chat" style="text-align: left; font-size: 16px;  direction: ltr; overflow-y: scroll; height: 250px; margin-top: 10px;">
                                <p ng-repeat="c in chat" style="word-wrap: break-word; background-color: #008aff;color: #fff;  margin: 1vh 0vh; width: 85%; padding: 2vh 0.5vh; border-radius: 1.5vh;"> {{c.msg}} </p>
                                <!-- <div>
                                     style="color: #000; text-align: right; font-size: 4vh;" 
                                    font-size: 1.8vh; margin: auto; margin-left: inherit; margin-top: 1vh; padding: .5vh 2vh; border-radius: 4vh; background-repeat: no-repeat; display: table; letter-spacing: 1.5px; word-wrap: break-word;
                                </div> -->
                            </div>
                            <form class="was-validated">
                                <textarea style="height: 35px;" class="mb-12 form-control text-left" ng-model="message" id="Messageid" placeholder="Type Here ."> </textarea>
                            </form>
                            <div class="bot">
                                <input disabled ng-if="!message || message.length == 0"  ng-click="updateMessage(chat[0].contactUsID._id , message)" class="button" type="button" value="أرسال" />
                                <input ng-if="message || message.length > 0" ng-click="updateMessage(chat[0].contactUsID._id , message)" class="button" type="button" value="أرسال" />
                            </div>
                        </div>
                    </div>
                </div>
        
</div>
    
    
    
<div ng-if="kayanLang == 'ar'" style="min-height: 70vh;">
        <div  style="position: relative;" class="coverDefault">     
                
                 
                  
            </div>
        <div ng-if="view == 1" class="container">
                <div class="row">
                        <div class=" col-md-4 col-sm-12 pb-4">
                                <div class="Message">
                                    <p> تاريخ الرسائل

                                        </p>
                                </div>
                                <div class="Message" style="overflow-y: scroll; height: 400px; border: 0.2vh solid #000000; padding: 0vh 1vh; border-left: 0; border-top: 0;">
                                    <div class="Messagelink col-12" ng-repeat="c in userMessages">
                                        <a style="text-decoration: none; font-size: 18px;" ng-click="getChatHistory(c._id)" href="">{{c.createdAt  | cmdate:'yyyy-MM-dd'}}</a>
                                    </div>
                                </div>
                            </div>
                    <div class=" col-md-8 col-sm-12">
                        <div class="Message">
                            <p> اكتب رسالتك  </p>
                        </div>
                        <div style="color: #000; text-align: right; font-size: 4vh;">
                            <i class="fas fa-sms"></i>
                            <p style="font-size: 1.5vh; display: inline-block; vertical-align: middle;"> New Message </p>
                        </div>
        
                        <div style="color: #000; text-align: right; font-size: 4vh;">
                            <!-- <i class="fas fa-sms"></i> -->
                            <p  ng-repeat="c in currentMessages" style="font-size: 1.5vh; display: inline-block; vertical-align: middle; height: 10vh; color: #000 !important"> {{c.msg}} </p>
                        </div>
                        <form class="was-validated">
                            <textarea class="mb-12 form-control" ng-model="message" id="Messageid" placeholder="اكتب هنا ."> </textarea>
                        </form>
                        <div class="bot">
                            <input disabled ng-if="!message || message.length == 0" class="button" type="button" value="ارسال " ng-click="sendNewMessage(kayanUserID,message)" />
        
                            <input ng-if="message || message.length > 0" class="button" type="button" value="ارسال" ng-click="sendNewMessage(kayanUserID,message)" />
                        </div>
                    </div>
                  
                </div>
            </div>
        
        
        
            <div ng-if="view == 2" class="container">
                    <div class="row">
                        <div class="coment col-md-8 m-auto">
                            <div class="Message">
                                <p> دردشة خدمة العملاء </p>
                            </div>
                            <div class="chat" style="text-align: left; font-size: 16px;  direction: ltr; overflow-y: scroll; height: 250px; margin-top: 10px;">
                                <p ng-repeat="c in chat" style="word-wrap: break-word; background-color: #008aff;color: #fff;  margin: 1vh 0vh; width: 85%; padding: 2vh 0.5vh; border-radius: 1.5vh;"> {{c.msg}} </p>
                                <!-- <div>
                                     style="color: #000; text-align: right; font-size: 4vh;" 
                                    font-size: 1.8vh; margin: auto; margin-left: inherit; margin-top: 1vh; padding: .5vh 2vh; border-radius: 4vh; background-repeat: no-repeat; display: table; letter-spacing: 1.5px; word-wrap: break-word;
                                </div> -->
                            </div>
                            <form class="was-validated">
                                <textarea style="height: 35px;" class="mb-12 form-control text-left" ng-model="message" id="Messageid" placeholder="Type Here ."> </textarea>
                            </form>
                            <div class="bot">
                                <input disabled ng-if="!message || message.length == 0"  ng-click="updateMessage(chat[0].contactUsID._id , message)" class="button" type="button" value="أرسال" />
                                <input ng-if="message || message.length > 0" ng-click="updateMessage(chat[0].contactUsID._id , message)" class="button" type="button" value="أرسال" />
                            </div>
                        </div>
                    </div>
                </div>
        
</div>
    